<div class="Table">
  <div class="Row">
    <h1>Welcome to Chatroom for Hipsters!</h1>
  </div>
  <div class="Row">
    <div id="user_list_space">
      <%= render partial: "user_list", locals: {users: @users} %>
    </div>

    <div id="chat_space">
      <div>
        <h4>Comments:</h4>
        <div id="comments">
          <%= render :partial => 'comment_table', :locals => { :comments => @comments} %>
        </div>
      </div>
      <div id="comment_form">
        <%= form_tag "/comments/submit/#{session[:user_id]}" do %>
          <h4>Comment Here!</h4>
          <div>
            <%= text_area_tag :comment %>
          </div>
          <div>
            <%= submit_tag "Submit" %>
          </div>
        <% end %>
      </div>
    </div>

    <div id="user_space">
      <div>
        Current Username: <strong><%= User.find(session[:user_id]).username %></strong>
      </div>
      <% if !session[:message].nil? %>
        <div id="alert_message">
          <%= session[:message] %>
        </div>
      <% end %>
      <div>
        Input New Username Here:
      </div>
      <div>
        <%= form_tag "/users/change_username/#{session[:user_id]}" do %>
          <%= text_field_tag :username %>
          <%= submit_tag "Submit" %>
        <% end %>
      </div>
      <div id="destroy_session">
          <%= form_tag "/users/destroy_session" do %>
            <%= submit_tag "Destroy Session" %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(
    function() {
      setInterval( function() {
        $('#comments').load('/users/update_comments');
      }, 5000);
    } 
  );
</script>